/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding: 30px;
  background-color: #5e7470;
  display: flex; /* this is the flexbox model. It adds responsive design to its items */
  flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
  align-items: center; /* These next two properties center the flex items */
  justify-content: center;
}

/*
 * Use of media query to change the flex-direction of the #pslo and #courses
 * elements when the width of the screen exceeds 925px to put
 * them side-by-side.
 */
@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

#main-title {
  color: #d5d7a1;
  font-family: "Patua One", monospace;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: "EB Garamond", serif;
}

.section {
  border-radius: 15px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
}

/** Rule change 1: This code leverages grouping to make both sections the same color and same font. */
#courses, #pslo {
  background-color: #bebfc9;
  font-family: "Marcellus", serif;
}

/* Rule change 2: This code leverages the class "cloud" from the HTML file and makes the words with that
ID blue. */
.cloud {
  color: #5a73cf
 }

/* Rule change 3: This code leverages the id "tools" from the HTML file in order to make it a section on
the page.  */
#tools {
  padding-left: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #8fb16c;
  font-family: "Marcellus", serif;
  justify-content: left;
}

/* Rule change 4: This code leverages nesting to make all h4's within sections to be underlined. */
section h4 {
  text-decoration: underline;
  width: 150px; height: 5px;
}

/* Rule change 5: This code leverages grouping to give these sections the same amount of padding from the top. */
#testingSection, #versionControlSection, #ideSection {
  padding-top: 5px;
}

#tools h2 {
  max-height: 1px;
  width: 75%;
}


#faculty {
  background-color: #bebfc9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#faculty > ul > li {
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                      isn't enough space for all of the items. Without this the
                      faculty images will be in a row and only resize well unitl around
                      550px width of screen. */
  justify-content: center;
  align-content: center;
}

.name {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.office {
  font-family: "Marcellus", serif;
}

img.pic {
  width: 100%;
  border: 4px solid #000000;
}

#style-selector {
  position: fixed;
  background-color: #5e7470;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  padding-top: 10px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style-selector li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style-selector li a {
  display: block;
  color: #d5d7a1;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style-selector li a:hover {
  background-color: rgb(146, 54, 54);
}

#validation {
  border-radius: 15px;
  font-size: 0.8rem;
  background-color: #8fb16c;
  padding: 15px;
  padding-top: 0;
  border: 4px solid #000000;
}
